@media (max-width: 960px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;
        width: 100%;
    }

    .section {
        max-width: 100%;
        justify-self: center;
        align-items: center;

        p {
            hyphens: auto;
            font-weight: normal;
            /*letter-spacing: 1px;*/
        }

        .blockText {
            text-align: justify;
            text-align-last: justify;
        }
    }
    .page {
        margin: auto;
        h1 {
            margin: auto;
            font-family: "Libre Baskerville", serif;
            font-size: 3.5rem;
            letter-spacing: -3px;
            color: white;
            text-align: center;
        }
    }
    hr {
        width: 100%;
    }
    .logo {
        height: 10vh;
        text-align:left;
        padding-top: 1em;
        margin:auto;
        will-change: filter;
        transition: filter 300ms;
    }
    .nav {
        display: flex;
        text-align: right;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #1e1d1d;
        box-shadow: #1e1d1d88 3px 3px 3px;
        height: 10vh;
        margin-top: 1vw;
    }
    .navlinks {display:none;}
    .navbutton {font-size: 3em;}
    .navFooter {display:none;}


    .nav__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-top {
        display: flex;
        flex-direction: column;
        .section-icon {
            height: 100%;
            width: auto;
            align-self: center;
            align-content: center;
            margin-left: 30px;
            img {
                transform: rotate(30deg);
                transition: 500ms;
            }
            img:hover {
                transition: 500ms;
                transform: rotate(360deg);
            }
        }
        .section-title {
            height: 100%;
            width: auto;
            align-self: center;
            align-content: center;
        }
    }
    h1 {
        font-size: 2.8em;
        line-height: 1.1;
    }
}